/* aboutComposition */

.aboutComposition{
    padding-bottom: 2px;
}

.aboutComposition__all{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.aboutComposition__img{
    width: 100%;
}
.aboutComposition__img img{
    width: 99%;
}