// _history-hero

.historyHero {
    padding: 80px 0 80px 0;
}

.historyHero__all {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.historyHero__texts {
    width: 48%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.historyHero__bottom__title {
    color: var(--main-title-color);
    font-family: "Red Rose";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -1.28px;
}

.historyHero__bottom__text {
    width: 90%;
    color: var(--main-text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;
}

.historyHero__img {
    width: 50%;
    height: 445px;
    border-radius: 16px;
    border: 5px solid #8A0303;
    background: url(<path-to-image>) lightgray -242.134px -100.016px / 164.795% 144.951% no-repeat;
    overflow: hidden;
}

.historyHero__img img {
    width: 100%;
    // height: 445px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}