/* aboooooooout */

.about {
    position: relative;
    padding: 205px 0 120px 0;
    border-radius: 0px;
    background: var(--red, linear-gradient(180deg, #5E0303 0%, #8A0202 100%));
}

.about::after {
    content: '';
    z-index: 0;
    width: 788px;
    height: 788px;
    position: absolute;
    // top: 66px;
    // left: -110px;
    background-image: url(/images/about/Pattern\ 1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 320px);
    left: calc(50% - 900px);
    // background-position: calc( center 66px left 110px);
}

.about__all {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about__top {
    z-index: 8;
    max-width: 1248px;
    width: 80%;
    display: flex;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 64px;
    border-radius: 20px;
    border: 5px solid #FFF;
    background: var(--red, linear-gradient(180deg, #5E0303 0%, #8A0202 100%));
}

.about__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about__item {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 215px;
    color: var(--main-light-text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%
}

.about__item::before {
    content: '';
    display: block;
    width: 76px;
    height: 76px;
    padding: 20px 36px;
    background-image: url(/images/about/malaka.svg);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    border: 2px solid #F5DEDE;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    margin-right: 16px;
}

// about__item__two
.about__item__two::before {
    background-image: url(/images/about/kengqamrov.svg);
}

// about__item__three
.about__item__three::before {
    background-image: url(/images/about/amaliyot.svg);
}

// about__bottom

.about__bottom {
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__bottom__texts {
    width: 45%;
}

// about__bottom__title

.about__bottom__title {
    color: var(--main-white-color);
    font-family: "Red Rose";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -1.28px;
    margin-bottom: 16px;
}

.about__bottom__text {
    color: var(--main-white-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;
    margin-bottom: 40px;
}

// about__bottom__link

.about__bottom__link {
    display: inline-flex;
    width: max-content;
    color: var(--main-white-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    border-radius: 1920px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    padding: 18px 24px;
    transition: all 0.1s ease-in-out;
}

.about__bottom__link::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/images/about/arrow.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
    transition: all 0.1s ease-in-out;
}

.about__bottom__link:hover {
    border-color: var(--main-white-color);
    // border-color: var(  --main-light-red-color);
    // background-color: var(--main-dark-red-color);
}

.about__bottom__link:hover::after {
    transform: rotate(-30deg) scale(1.4);
}

.about__bottom__link__rotate::after {
    transform: rotate(90deg) scale(1.4);
}

.about__bottom__link__rotate:hover::after {
    transform: rotate(90deg) scale(1.6);
}

.about__bottom__img {
    width: 49%;
    border-radius: 16px;
    border: 5px solid #FFF;
    overflow: hidden;
}
.about__bottom__img img{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1600px) {
    .about__top {
        width: 100%;
        max-width: 1300px;
    }
}

@media (min-width: 1860px) {
    .about__top {
        width: 100%;
        max-width: 1600px;
    }
}