/* CONTAINER */

.container {
  max-width: 1248px;
  // max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
}

@media (max-width: 1280px) {
  .container{
    padding: 0 48px;
  } 
}
@media (max-width: 1000px) {
  .container{
    padding: 0 40px;
  } 
}
@media (max-width: 800px) {
  .container{
    padding: 0 32px;
  } 
}
@media (max-width: 600px) {
  .container{
    padding: 0 18px;
  } 
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
    // max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
  }

}

@media (min-width: 1860px) {
  .container {
    max-width: 1600px;
    // max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
  }
}