/* CONTAINER */

.container {
  max-width: 1248px;
  // max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
}

@media (min-width: 1600px) { 
  .container {
    max-width: 1400px;
    // max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
  }

}








