/* header */

.header {
    background: var(--main-dark-red-color);
}

.header__all {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__top {
    width: 100%;
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-left {
    display: flex;
    gap: 32px;
}

.header__top__time {
    color: var(--main-light-text-color);
    font-size: 14px;
    font-weight: 400;
}

.header__top__elearning {
    color: var(--main-light-text-color);
    font-size: 14px;
    font-weight: 400;
}

// header__top-right

.header__top-right {
    display: flex;
    gap: 48px;
}

.header__top-right__contacts {
    display: flex;
    gap: 36px;
}

.header__top-right__contact {
    display: flex;
    align-items: center;
    color: var(--main-light-text-color);
    font-size: 14px;
    font-weight: 400;
}

.header__top-right__contact::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(/images/header/call.svg);
    margin-right: 6px;
}

.header__top-right__calendar {
    display: flex;
    align-items: center;
    color: var(--main-light-text-color);
    font-size: 14px;
    font-weight: 400;
}

.header__top-right__calendar::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(/images/header/calendar.svg);
    margin-right: 6px;
}

// header__top-right__media

.header__top__media__list {
    display: flex;
    gap: 7px;
}
.header__top__media__item img{
    transition: all 0.1s ease-in-out;
}
.header__top__media__item:hover img{
    transform: scale(1.08);
}
// header__navbar


.navbar {
    z-index: 999;
    width: 100%;
    position: sticky;
    top: -2px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background: rgba(94, 3, 3, 0.80);
    box-shadow: 0px 5px 10px 0px rgba(66, 0, 0, 0.35);
    backdrop-filter: blur(6px);
}

// .navbar::after{
//     content: '';
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     position: absolute;
//     background-color: var(--main-title-color);
// }
.nav-bg {
    top: 63px;
    position: absolute;
    width: 100%;
    height: 91px;
    background-color: var(--main-title-color);
}

.navbar__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: inline-block;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

// .navbar__item {

// }

.navbar__item__list {
    // display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px 22px;
    border-radius: 12px;
    border: 1px solid #F5DEDE;
    background: rgba(94, 3, 3, 0.90);
    // background: #5E0303;
    row-gap: 14px;
    box-shadow: 0px 5px 10px 0px rgba(66, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    top: 69px;
    display: none;
}
.navbar__item:hover .navbar__item__list {
    display: flex;
}


.navbar__link {
    color: var(--main-light-text-color);
    font-size: 16px;
    font-weight: 400;
    transition: all 0.1s ease-in-out;
    padding: 16px 0;
}

.navbar__itemm .navbar__link{
    padding: 6px 0;
}
.navbar__itemm .navbar__link:hover {
    color: var(--main-light-red-color);
}
.navbar__link:hover {
    color: var(--main-white-color);
}
.navbar__link__active:hover {
    color: var(--main-light-red-color);
}

.navbar__link__active {
    color: var(--main-light-red-color);
}

.navbar__down {
    display: flex;
    align-items: center;
}

.navbar__down::after {
    content: '';
    display: block;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    background-image: url(/images/header/arrow-downn.svg);
    transition: all 0.3s ease-in-out;
}

.navbar__link__arrow::after {
    content: '';
    display: block;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    background-image: url(/images/header/arrow-down-active.svg);
    transition: all 0.3s ease-in-out;
}
.navbar__item:hover .navbar__down::after{
    transform: rotate(180deg);
}
// navbar__btns

.navbar__btns {
    display: flex;
    gap: 14px;
}

.navbar__search {
    padding: 20px;
    background-color: var(--main-white-color);
    border: none;
    background-image: url(/images/header/search-status.svg);
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.navbar__flag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-title-color);
    font-weight: 600;
    padding: 10px;
    background-color: var(--main-white-color);
    border: none;
    border-radius: 4px;
}

.navbar__flag::before {
    content: '';
    width: 20px;
    height: 14px;
    display: block;
    background-image: url(/images/header/uzbekistan\ \(1\)\ 1.png);
    background-repeat: no-repeat;
    margin-right: 6px;
}

.navbar__flag::after {
    content: '';
    width: 20px;
    height: 16px;
    display: block;
    background-image: url(/images/header/arrow-down.svg);
    background-repeat: no-repeat;
    margin-left: 6px;
}