// _history-hero
.teamHero{
    padding: 72px 0;
}
.teamHeropadding{
    padding: 0;
    padding-bottom: 120px;
}
.teamHero__all{
    align-items: center;
}
.teamHero__title{
    text-align: center;
    font-size: 40px;
}