/* FONT-FACE */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Rose:wght@300..700&display=swap");
/* VARIABLES */
:root {
  --main-bg-color: #FFF6F6;
  --main-text-color: #1E1E1E;
  --main-light-text-color: #F5DEDE;
  --main-title-color: #8A0303;
  --main-dark-blue-color: #00002C;
  --main-dark-red-color: #420000;
  --main-light-red-color: #FB4749;
  --main-gradient-color: var(linear-gradient(180deg, #5E0303 0%, #8A0202 100%));
  --main-white-color: #fff;
}

/* MIXINS */
/* GENERAL */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  max-width: 100%;
  background-color: #FFF6F6;
  background-image: url(/images/ptrn.png);
  background-size: 1440px;
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.unscrollbody {
  overflow: hidden;
}

/* VISAULLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  -webkit-clip-path: rect(0 0 0 0);
          clip-path: rect(0 0 0 0);
}

/* CONTAINER */
.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
  }
}
@media (min-width: 1860px) {
  .container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
  }
}
/* header */
.header {
  background: var(--main-dark-red-color);
}

.header__all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  width: 100%;
  padding: 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header__top__time {
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 400;
}

.header__top__elearning {
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 400;
}

.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.header__top-right__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

.header__top-right__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 400;
}

.header__top-right__contact::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(/images/header/call.svg);
  margin-right: 6px;
}

.header__top-right__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 400;
}

.header__top-right__calendar::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(/images/header/calendar.svg);
  margin-right: 6px;
}

.header__top__media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.header__top__media__item img {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header__top__media__item:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.navbar {
  z-index: 999;
  width: 100%;
  position: sticky;
  top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  background: rgba(94, 3, 3, 0.8);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(66, 0, 0, 0.35);
          box-shadow: 0px 5px 10px 0px rgba(66, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.nav-bg {
  top: 63px;
  position: absolute;
  width: 100%;
  height: 91px;
  background-color: var(--main-title-color);
}

.navbar__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  display: inline-block;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 20px 22px;
  border-radius: 12px;
  border: 1px solid #F5DEDE;
  background: rgba(94, 3, 3, 0.9);
  row-gap: 14px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(66, 0, 0, 0.35);
          box-shadow: 0px 5px 10px 0px rgba(66, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 69px;
  display: none;
}

.navbar__item:hover .navbar__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  color: var(--main-light-text-color);
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 16px 0;
}

.navbar__itemm .navbar__link {
  padding: 6px 0;
}

.navbar__itemm .navbar__link:hover {
  color: var(--main-light-red-color);
}

.navbar__link:hover {
  color: var(--main-white-color);
}

.navbar__link__active:hover {
  color: var(--main-light-red-color);
}

.navbar__link__active {
  color: var(--main-light-red-color);
}

.navbar__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__down::after {
  content: "";
  display: block;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  background-image: url(/images/header/arrow-downn.svg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__link__arrow::after {
  content: "";
  display: block;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  background-image: url(/images/header/arrow-down-active.svg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__item:hover .navbar__down::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.navbar__search {
  padding: 20px;
  background-color: var(--main-white-color);
  border: none;
  background-image: url(/images/header/search-status.svg);
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.navbar__flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-title-color);
  font-weight: 600;
  padding: 10px;
  background-color: var(--main-white-color);
  border: none;
  border-radius: 4px;
}

.navbar__flag::before {
  content: "";
  width: 20px;
  height: 14px;
  display: block;
  background-image: url(/images/header/uzbekistan\ \(1\)\ 1.png);
  background-repeat: no-repeat;
  margin-right: 6px;
}

.navbar__flag::after {
  content: "";
  width: 20px;
  height: 16px;
  display: block;
  background-image: url(/images/header/arrow-down.svg);
  background-repeat: no-repeat;
  margin-left: 6px;
}

/* HERO */
.hero {
  padding: 64px 0 130px 0;
}

.hero__all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__texts {
  position: relative;
}

.hero__title {
  width: 582px;
  color: var(--main-title-color);
  font-family: "Red Rose";
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1.28px;
}

.title__down__bottom {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  left: 270px;
  bottom: 20px;
  background-image: url(/images/hero/down.svg);
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title__down__bottom:hover {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}

.hero__bg img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1860px) {
  .hero__title {
    width: 700px;
    font-size: 72px;
  }
  .hero__bg {
    width: 48%;
  }
  .hero__bg img {
    width: 100%;
  }
  .title__down__bottom {
    width: 56px;
    height: 56px;
    left: 320px;
  }
}
/* aboooooooout */
.about {
  position: relative;
  padding: 205px 0 120px 0;
  border-radius: 0px;
  background: var(--red, linear-gradient(180deg, #5E0303 0%, #8A0202 100%));
}

.about::after {
  content: "";
  z-index: 0;
  width: 788px;
  height: 788px;
  position: absolute;
  background-image: url(/images/about/Pattern\ 1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: calc(50% - 320px);
  left: calc(50% - 900px);
}

.about__all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__top {
  z-index: 8;
  max-width: 1248px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 50px 64px;
  border-radius: 20px;
  border: 5px solid #FFF;
  background: var(--red, linear-gradient(180deg, #5E0303 0%, #8A0202 100%));
}

.about__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-light-text-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

.about__item::before {
  content: "";
  display: block;
  width: 76px;
  height: 76px;
  padding: 20px 36px;
  background-image: url(/images/about/malaka.svg);
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  border: 2px solid #F5DEDE;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-right: 16px;
}

.about__item__two::before {
  background-image: url(/images/about/kengqamrov.svg);
}

.about__item__three::before {
  background-image: url(/images/about/amaliyot.svg);
}

.about__bottom {
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__bottom__texts {
  width: 45%;
}

.about__bottom__title {
  color: var(--main-white-color);
  font-family: "Red Rose";
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1.28px;
  margin-bottom: 16px;
}

.about__bottom__text {
  color: var(--main-white-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 145.455%;
  margin-bottom: 40px;
}

.about__bottom__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--main-white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 1920px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0);
  padding: 18px 24px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.about__bottom__link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/about/arrow.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.about__bottom__link:hover {
  border-color: var(--main-white-color);
}

.about__bottom__link:hover::after {
  -webkit-transform: rotate(-30deg) scale(1.4);
          transform: rotate(-30deg) scale(1.4);
}

.about__bottom__link__rotate::after {
  -webkit-transform: rotate(90deg) scale(1.4);
          transform: rotate(90deg) scale(1.4);
}

.about__bottom__link__rotate:hover::after {
  -webkit-transform: rotate(90deg) scale(1.6);
          transform: rotate(90deg) scale(1.6);
}

.about__bottom__img {
  width: 49%;
  border-radius: 16px;
  border: 5px solid #FFF;
  overflow: hidden;
}

.about__bottom__img img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1600px) {
  .about__top {
    width: 100%;
    max-width: 1300px;
  }
}
@media (min-width: 1860px) {
  .about__top {
    width: 100%;
    max-width: 1600px;
  }
}
/* functions */
.functions {
  padding: 72px 0 42px 0;
}

.functionss {
  padding: 42px 0 42px;
}

.functions__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.functions__title {
  color: var(--main-text-color);
  text-align: center;
  font-family: "Red Rose";
  font-size: 64px;
  font-weight: 700;
}

.functions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.functions__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  min-width: 595px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  border-radius: 20px;
  border: 1px solid #8A0303;
  background: #FFFDFA;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.functions__item:hover {
  -webkit-box-shadow: -8px 39px 11px 0px rgba(138, 2, 2, 0), -5px 25px 10px 0px rgba(138, 2, 2, 0.01), -3px 14px 9px 0px rgba(138, 2, 2, 0.03), -1px 6px 6px 0px rgba(138, 2, 2, 0.03), 0px 2px 4px 0px rgba(138, 2, 2, 0.05);
          box-shadow: -8px 39px 11px 0px rgba(138, 2, 2, 0), -5px 25px 10px 0px rgba(138, 2, 2, 0.01), -3px 14px 9px 0px rgba(138, 2, 2, 0.03), -1px 6px 6px 0px rgba(138, 2, 2, 0.03), 0px 2px 4px 0px rgba(138, 2, 2, 0.05);
}

.functions__item img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.functions__item:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.functions__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 240px;
}

.functions__item__title {
  width: 90%;
  color: var(--main-text-color);
  font-family: "Red Rose";
  font-size: 44px;
  font-weight: 400;
}

.functions__img {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.functions__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 164px;
  color: var(--main-title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 1920px;
  border: 2px solid #8A0202;
  background: rgba(255, 255, 255, 0);
  padding: 18px 24px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.functions__btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  font-weight: 500;
  background-image: url(/images/functions/arrow.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.functions__btn:hover::after {
  -webkit-transform: rotate(-30deg) scale(1.4);
          transform: rotate(-30deg) scale(1.4);
}

/*team our*/
.team {
  padding-bottom: 72px;
}

.team__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.team__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  overflow: hidden;
  position: relative;
  max-width: 48%;
  min-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 0 40px;
  border-radius: 20px;
  background: #FF4040;
  -webkit-box-shadow: -4px 4px 32px 0px rgba(0, 0, 0, 0.08);
          box-shadow: -4px 4px 32px 0px rgba(0, 0, 0, 0.08);
}

.team__item .team__imgs img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.team__item:hover .team__imgs img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.team__texts {
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__bg {
  position: absolute;
  width: 100%;
  height: 85%;
  background-color: var(--main-dark-blue-color);
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 0 0 32px 32px;
}

.team__name {
  color: #FF4040;
  font-family: "Red Rose";
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.44px;
  margin-bottom: 22px;
}

.team__info {
  color: var(--main-white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 38px;
}

.teammedia__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 80px;
}

.teammedia__item img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.65;
}

.teammedia__item:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 1;
}

.team__imgs {
  z-index: 17;
}

.team__imgs img {
  height: 370px;
}

.team__texts__none {
  display: none;
}

.team__item__none {
  overflow: hidden;
  position: relative;
  max-width: 24%;
  min-width: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px 0 0 40px;
  border-radius: 20px;
  background: #FF4040;
  -webkit-box-shadow: -4px 4px 32px 0px rgba(0, 0, 0, 0.08);
          box-shadow: -4px 4px 32px 0px rgba(0, 0, 0, 0.08);
}

.team__item__none .team__bg {
  height: 100%;
  border-radius: 0;
}

@media (min-width: 1600px) {
  .team__item {
    width: 740px;
  }
}
@media (min-width: 1860px) {
  .team__item {
    width: 740px;
  }
}
/***newsssssssssssssss*/
.news {
  padding-bottom: 42px;
}

.news__all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.news__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.news__item {
  width: 32.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #8A0202;
  background: #FFF;
}

.news__item:hover {
  -webkit-box-shadow: -8px 39px 11px 0px rgba(138, 2, 2, 0), -5px 25px 10px 0px rgba(138, 2, 2, 0.01), -3px 14px 9px 0px rgba(138, 2, 2, 0.03), -1px 6px 6px 0px rgba(138, 2, 2, 0.03), 0px 2px 4px 0px rgba(138, 2, 2, 0.05);
          box-shadow: -8px 39px 11px 0px rgba(138, 2, 2, 0), -5px 25px 10px 0px rgba(138, 2, 2, 0.01), -3px 14px 9px 0px rgba(138, 2, 2, 0.03), -1px 6px 6px 0px rgba(138, 2, 2, 0.03), 0px 2px 4px 0px rgba(138, 2, 2, 0.05);
}

.news__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px 16px 0px 0px;
}

.news__img .news__img__bgimg {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news__img span {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(109deg, #5E0303 0%, #8A0202 100%);
  top: -300px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.news__item:hover .news__img span {
  top: 0;
}

.news__img__logo {
  position: absolute;
  top: -300px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.news__item:hover .news__img__logo {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news__hashtag {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 16px 0 12px;
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 16px;
  background: #F5DEDE;
}

.news__title {
  overflow: hidden;
  color: var(--main-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 150%;
}

.news__learnmore {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  margin-bottom: 24px;
}

.news__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.news__profile__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__profile__texts h5 {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.news__profile__texts p {
  color: #697586;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.e_learning {
  padding: 100px 0;
  background: linear-gradient(97deg, #5E0303 0%, #8A0202 100%);
}

.e_learning__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.e_learning__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.e_learning__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.e_learning__text h3 {
  color: var(--main-white-color);
  font-family: "Red Rose";
  font-size: 56px;
  font-weight: 700;
  line-height: 119.643%;
}

.e_learning__text p {
  color: var(--main-white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 48px;
}

.e_learning__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.e__info__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.e__info__img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border-radius: 8px;
  background: #FFF;
  margin-bottom: 6px;
}

.e__info__img img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.e__info__title {
  color: var(--main-white-color);
  font-size: 20px;
  font-weight: 600;
}

.e__info__text {
  width: 80%;
  color: var(--main-white-color);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.9;
}

.e_learning__img img {
  width: 700px;
}

/*info use*/
.infouse {
  width: 100%;
  position: relative;
  padding: 72px 0;
}

.infouse__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__card {
  position: relative;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}

.infocard__one {
  z-index: -5;
  position: absolute;
  width: 633.59px;
  height: 416.39px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #E1E9F0;
  background: #FFF;
}

.infocard__two {
  z-index: -4;
  position: absolute;
  width: 587.52px;
  height: 555.19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #E1E9F0;
  background: #FFF;
}

.infocard__bg {
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1210px;
  height: 874px;
  position: absolute;
  background-image: url(/images/info-use/formbg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info__forms {
  width: 542px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 48px;
  border-radius: 24px;
  border: 1px solid #E1E9F0;
  background: #FFF;
}

.info__forms__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__forms__title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 133.333%;
  letter-spacing: -0.5px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.info__forms__text {
  width: 429px;
  color: var(--main-text-color);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
  margin-bottom: 24px;
}

.formdiv {
  width: 100%;
}

.info__forms__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.form__email label {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.form__email input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #E1E9F0;
  background: #FFF;
}

.form__email textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #E1E9F0;
  background: #FFF;
  min-width: 445px;
  max-width: 445px;
  min-height: 175px;
}

.form__email input::-webkit-input-placeholder {
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email input::-moz-placeholder {
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email input:-ms-input-placeholder {
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email input::-ms-input-placeholder {
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email input::placeholder {
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email textarea::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__email textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #9BADBC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.form__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.form__btn button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #5E0303;
  background: -webkit-gradient(linear, left top, right top, from(#5E0303), to(#8A0202));
  background: linear-gradient(90deg, #5E0303 0%, #8A0202 100%);
}

.form__btn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.5px;
}

.form__btn p::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/info-use/arrow-right-02.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1800px) {
  .infocard__one {
    width: 733px;
  }
  .infocard__two {
    width: 687px;
  }
  .info__forms {
    width: 622px;
  }
  .form__email textarea {
    max-width: 524px;
    min-width: 524px;
  }
}
/*footer*/
.footer-top {
  position: relative;
  padding: 72px 0;
  background: linear-gradient(95deg, #5E0303 0%, #8A0202 100%);
  overflow: hidden;
}

.footer-top::after {
  content: "";
  z-index: 0;
  width: 600px;
  height: 600px;
  position: absolute;
  background-image: url(/images/about/Pattern\ 1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: calc(50% - 280px);
  left: calc(50% - 800px);
}

.footer-bottom {
  background: #420000;
  padding: 20px 0;
}

.footer-bottom p {
  color: #F5DEDE;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.scroll-TOP {
  position: absolute;
  right: 96px;
  bottom: 48px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: Scrolltop 1.4s infinite ease-in-out both;
          animation: Scrolltop 1.4s infinite ease-in-out both;
  border-radius: 50%;
}

.scroll-TOP:hover {
  -webkit-box-shadow: rgba(38, 57, 77, 0.5) 0px 20px 30px -10px;
          box-shadow: rgba(38, 57, 77, 0.5) 0px 20px 30px -10px;
}

.footer__all {
  z-index: 28;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  z-index: 33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}

.footer__logo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}

.footer__logo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/images/footer/Call.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}

.footer__logo__item__email::before {
  background-image: url(/images/footer/email.svg);
}

.footer__logo__item__map::before {
  background-image: url(/images/footer/location.svg);
}

.footer__logo__item__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.footer__logo__item__texts h6 {
  width: 100%;
  color: var(--main-white-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.footer__logo__item__texts a {
  color: #F5DEDE;
  font-size: 14px;
  font-weight: 500;
}

.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.footer__map iframe {
  border-radius: 12px;
  border: 1px solid #FB4749;
}

.footer__map p {
  width: 310px;
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 500;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 28px;
}

.footer__nav__title {
  color: var(--main-white-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__nav__item a {
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 500;
}

.footer__nav__item a:hover {
  color: var(--main-white-color);
  text-decoration: underline;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bot h4 {
  color: var(--main-white-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
}

.footer__bot p {
  width: 310px;
  color: var(--main-light-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 200%;
  margin: 16px 0;
}

.footer__bot_link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 40px;
  background: #FFF;
  padding: 12px 28px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--main-title-color);
}

.footer__media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin-top: 24px;
}

.footer__media__item:hover a img {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer__media__item:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 1500px) {
  .scroll-TOP {
    right: 8%;
  }
}
@-webkit-keyframes Scrolltop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes Scrolltop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.aboutHero {
  padding: 80px 160px;
  border-radius: 0px 0px 20px 20px;
  background: var(--red, linear-gradient(180deg, #5E0303 0%, #8A0202 100%));
}

.aboutHero::after {
  content: "";
  z-index: 0;
  width: 788px;
  height: 788px;
  position: absolute;
  background-image: url(/images/PAGE_about_images/hero/ellipspattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: calc(50% - 250px);
  left: calc(50% - 900px);
}

.aboutHero__all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutHero__texts {
  z-index: 21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 42%;
}

.aboutServices {
  padding: 72px 0 0 0;
}

.aboutServices__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.aboutServices__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.aboutServices__item {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-width: 290px;
  min-height: 430px;
  max-height: 430px;
  width: 23.5%;
  padding: 32px 20px 20px 20px;
  border-radius: 16px;
  border: 1px solid #8A0303;
  background: #FFFDFA;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.aboutServices__item::after {
  content: "";
  width: 100px;
  height: 92.557px;
  position: absolute;
  background-image: url(/images/PAGE_about_images/vazifalar/logoopay.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.aboutServices__item:hover {
  -webkit-box-shadow: -8px 39px 11px 0px rgba(138, 2, 2, 0), -5px 25px 10px 0px rgba(138, 2, 2, 0.01), -3px 14px 9px 0px rgba(138, 2, 2, 0.03), -1px 6px 6px 0px rgba(138, 2, 2, 0.03), 0px 2px 4px 0px rgba(138, 2, 2, 0.05);
          box-shadow: -8px 39px 11px 0px rgba(138, 2, 2, 0), -5px 25px 10px 0px rgba(138, 2, 2, 0.01), -3px 14px 9px 0px rgba(138, 2, 2, 0.03), -1px 6px 6px 0px rgba(138, 2, 2, 0.03), 0px 2px 4px 0px rgba(138, 2, 2, 0.05);
}

.aboutServices__item:hover::after {
  -webkit-transform: scale(1.1) rotate(15deg);
          transform: scale(1.1) rotate(15deg);
  right: 0;
  top: 0;
}

.aboutServices__number {
  color: var(--main-title-color);
  font-size: 32px;
  font-weight: 600;
}

.aboutServices__text {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
}

.aboutServices__link {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
}

.aboutServices__link:hover {
  color: var(--main-title-color);
}

.aboutServices__img {
  border-radius: 12px;
  width: 100%;
  overflow: hidden;
}

.aboutServices__img img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.aboutActivity {
  padding-bottom: 72px;
}

.aboutActivity__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.aboutActivity__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 16px;
}

.aboutActivity__item {
  overflow: hidden;
  position: relative;
  width: 32.5%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 28px;
  border-radius: 16px;
  background: linear-gradient(130deg, #5E0303 0%, #8A0202 99.99%);
}

.aboutActivity__item::after {
  content: "";
  position: absolute;
  width: 121px;
  height: 111px;
  background-image: url(/images/PAGE_about_images/huquqiy-asoslar/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -100px;
  right: -100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.aboutActivity__item:hover .aboutActivity__quote img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.aboutActivity__item:hover::after {
  -webkit-transform: rotate(375deg);
          transform: rotate(375deg);
  top: 0;
  right: 0;
}

.aboutActivity__item__title {
  color: var(--main-white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.aboutActivity__item__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.aboutActivity__item__texts::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(/images/PAGE_about_images/huquqiy-asoslar/lexuzlogo.svg);
}

.aboutActivity__item__title {
  color: var(--main-white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 170%;
  margin-bottom: 2px;
}

.aboutActivity__item__link {
  color: var(--main-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  text-decoration-line: underline;
  opacity: 0.7;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.aboutActivity__item__link:hover {
  opacity: 1;
}

.aboutActivity__item__w50 {
  width: 49.5%;
}

/* aboutComposition */
.aboutComposition {
  padding-bottom: 2px;
}

.aboutComposition__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.historyHero {
  padding: 80px 0 80px 0;
}

.historyHero__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historyHero__texts {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.historyHero__bottom__title {
  color: var(--main-title-color);
  font-family: "Red Rose";
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1.28px;
}

.historyHero__bottom__text {
  width: 90%;
  color: var(--main-text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 145.455%;
}

.historyHero__img {
  width: 50%;
  height: 445px;
  border-radius: 16px;
  border: 5px solid #8A0303;
  background: url(<path-to-image>) lightgray -242.134px -100.016px/164.795% 144.951% no-repeat;
  overflow: hidden;
}

.historyHero__img img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */